<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<script src='https://unpkg.com/htmx.org/dist/htmx.min.js'></script>
	<title th:text="${event.name}">Поездка в Карелию</title>
</head>

<body>
	<h1 th:text="${event.name}">Поездка в Карелию</h1>
	<div>
		<p th:text="${'Дата и время начала: ' + event.startDatetime}">Дата и время начала: 01.02.2026 10:30</p>
		<p th:text="${'Дата и время окончания: ' + event.endDatetime}">Дата и время окончания: 15.02.2026 14:30</p>
		<div th:insert="~{_fragments :: btn-and-parttakers}">
			<button>Участвовать</button>
			<div th:if="${parttakers.isEmpty()}">
				Участников пока нет.
			</div>
			<div th:unless="${parttakers.isEmpty()}">
				Уже участвуют: <span>Иванов Иван, Петров Николай</span>
			</div>
		</div>
		<a href="/">На главную</a>
	</div>
</body>

</html>