<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>EventTracker</title>
</head>

<body>
	<h1>Это главная страница.</h1>
	<h2>Здесь будут отображаться доступные мероприятия и другие объявления.</h2>
	<div th:if="${user.id==0}">
		<p>
			<a href="userprofile/sign_in">Войти в аккаунт</a>
		</p>
		<p>
			Не зарегистрированы? <a href="userprofile/sign_up">Регистрация</a>
		</p>
	</div>
	<div th:unless="${user.id==0}">
		<p>Ваш профиль: <a th:text="${user.name}" href="/userprofile">Anton</a></p>
	</div>
	<p>Доступные мероприятия:</p>
	<div th:each="event : ${events}" th:object="${event}">
		<a th:text="*{name} + ' (' + *{startDatetime} + ' - ' + *{endDatetime} + ')'"
			th:href="@{/events/{id}(id=*{id})}">Новое мероприятие (01.02.2026 10:30 - 01.02.2026 14:30)</a>
	</div>
</body>