<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>EventTracker</title>
</head>

<body>
	<h1>Это главная страница.</h1>
	<h2>Здесь будут отображаться доступные мероприятия и другие объявления.</h2>
	<div th:if="${user.id == 0}">
		<p>
			<a href="userprofile/sign_in">Войти в профиль</a>
		</p>
		<p>
			Не зарегистрированы? <a href="userprofile/sign_up">Регистрация</a>
		</p>
	</div>
	<div th:unless="${user.id == 0}">
		<p>Ваш профиль: <a href="/userprofile">[[${user.name}]]</a></p>
	</div>
	<div th:replace="~{_fragments :: user-events}"></div>
	<div th:replace="~{_fragments :: organized-events}"></div>
	<div th:replace="~{_fragments :: aviable-events}"></div>
</body>