<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Профиль</title>
</head>

<body>
	<h2>Это Ваш профиль.</h2>
	<p th:text="${user.name}">Anton</p>
	<p><a href="/">На главную</a></p>
	<p><a href="/events/create">Спланировать мероприятие</a></p>
	<p><a href="/userprofile/logout">Выйти</a></p>
	<div th:replace="~{_fragments :: user-events}">Вы не зарегистрированы ни на одно мероприятие.</div>
	<div th:replace="~{_fragments :: organized-events}"></div>
	<div th:replace="~{_fragments :: aviable-events}">Нет доступных мероприятий.</div>
</body>